[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine  = "*"
cfn-resource-provider = {editable = true,path = "."}

[packages]
jsonschema = "*"
cfn-resource-provider = {editable = true,path = "."}

[requires]
python_version = "3.9"
